<table style="width:100%">
    <tr style="height:30px">
        <td>Title:</td>
        <td><input type="text" id="title" class="form-control" placeholder="enter title..." /></td>
    </tr>
    <tr style="height:30px">
        <td>Author:</td>
        <td><input type="text" id="author" class="form-control" placeholder="enter name..." /></td>
    </tr>
    <tr style="height:30px">
        <td colspan="2">Content:</td>
    </tr>
    <tr style="height:80px">
        <td colspan="2"><textarea class="form-control" id="content"></textarea></td>
    </tr>
</table>